In [1]:
spark

In [2]:
from pyspark.sql.types import *
df_first_edit = spark.read.csv("../data/quarry-28198-untitled-run274908.csv",header=True)

In [3]:
df_first_edit.show(n=2)

+-------+--------------+
|page_id|    first_edit|
+-------+--------------+
|      0|20081102130201|
|      1|20031020122701|
+-------+--------------+
only showing top 2 rows

In [4]:
df_lang = spark.read.csv("../data/quarry-28198-untitled-run274910.csv",header=True)

In [5]:
df_lang.show(2)

+-------+------------------+
|page_id|translations_count|
+-------+------------------+
|      1|                 4|
|      3|                46|
+-------+------------------+
only showing top 2 rows

In [6]:
df_out_links = spark.read.csv("../data/quarry-28198-untitled-run274911.csv",header=True)

In [7]:
df_out_links.show(2)

+-------+-----------+
|from_id|links_count|
+-------+-----------+
|      1|         18|
|      2|          1|
+-------+-----------+
only showing top 2 rows

In [8]:
df1 = df_lang.join(df_first_edit, 'page_id')

In [9]:
df1.show(2)

+-------+------------------+--------------+
|page_id|translations_count|    first_edit|
+-------+------------------+--------------+
|      1|                 4|20031020122701|
|      3|                46|20031227004500|
+-------+------------------+--------------+
only showing top 2 rows

In [11]:
df = df1.join(df_out_links, df1['page_id'] == df_out_links['from_id'])

In [12]:
df = df.drop('from_id')
df.show(2)

+-------+------------------+--------------+-----------+
|page_id|translations_count|    first_edit|links_count|
+-------+------------------+--------------+-----------+
|      1|                 4|20031020122701|         18|
|      3|                46|20031227004500|        297|
+-------+------------------+--------------+-----------+
only showing top 2 rows